body{

}
h1{
    color: rgb(144, 164, 117);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    background-color: rgb(3, 19, 3);
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "logo navbar";
    box-shadow:0 2px 4px lightgray;
    align-items: center;
}

#logo{
   grid-area: logo; 
   justify-self: left;
   margin-left: 15px;
}

#navbar{
    grid-area: navbar; 
    justify-self: right;
    display: grid;
    grid-template-areas:
    "me skills goals";
    grid-gap: 40px;
    margin-right: 40px;
}
#me{
    grid-area: me;
    color: honeydew;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#skills{
    grid-area: skills;
    color: honeydew;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#goals{
    grid-area: goals;
    color: honeydew;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    background-size: 20px 20px;
    background-image: radial-gradient(circle, rgb(54, 66, 29) 1px, rgba(0, 0, 0, 0) 1px);
    height: 20vh;
}
img {
    max-width: 300px;
}

#color {
    background-color: #ebeb47;
    font-size: 30px;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#color:hover {
    background-color: #ebeb47;
    font-size: 30px;
    border-radius: 24px;
    border: 6px solid rgb(46, 74, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#place {
    background-color: #bb2351;
    font-size: 30px;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#place:hover {
    background-color: #bb2351;
    font-size: 30px;
    border-radius: 24px;
    border: 6px solid rgb(55, 3, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

#ritual {
    background-color: #6aa25f;
    font-size: 30px;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#ritual:hover {
    background-color: #6aa25f;
    font-size: 30px;
    border-radius: 24px;
    border: 6px solid rgb(17, 38, 2);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
} 